<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="This is a payment app made using nodejs and the stripe api">
    <meta name="og:url" content="">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>Venture Hub Meal Plan Purchase</title>
</head>

<body class="bg-info text-white">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark py-3 justify-content-center">
        <div class="conatiner">
            <a href="index.html" class="navbar-brand">
                <h3 class="d-inline align-middle">Venture Hub Meal Plan Purchase</h3>
            </a>
        </div>
    </nav>
    <div class="container">
        {{{body}}}
    </div>
</body>

</html>